<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UpdateInfos</servlet-name>
        <servlet-class>servlet.UpdateInfos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserInterface</servlet-name>
        <servlet-class>servlet.UserInterface</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListJoueur</servlet-name>
        <servlet-class>servlet.ListJoueurs</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateInfos</servlet-name>
        <url-pattern>/UpdateInfos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserInterface</servlet-name>
        <url-pattern>/UserInterface</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListJoueur</servlet-name>
        <url-pattern>/ListJoueur</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
