<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    <servlet>
        <servlet-name>ListJoueur</servlet-name>
        <servlet-class>servlet.ListJoueurs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>jeuxParJoueur</servlet-name>
        <servlet-class>servlet.jeuxParJoueur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contribParJoueur</servlet-name>
        <servlet-class>servlet.contribParJoueurJson</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ListJoueur</servlet-name>
        <url-pattern>/ListJoueur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jeuxParJoueur</servlet-name>
        <url-pattern>/jeuxParJoueur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contribParJoueur</servlet-name>
        <url-pattern>/contribParJoueur</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
